@font-face {
  font-family: 'strawberryicon';
  src:  url('fonts/strawberryicon.eot?l37id6');
  src:  url('fonts/strawberryicon.eot?l37id6#iefix') format('embedded-opentype'),
    url('fonts/strawberryicon.ttf?l37id6') format('truetype'),
    url('fonts/strawberryicon.woff?l37id6') format('woff'),
    url('fonts/strawberryicon.svg?l37id6#strawberryicon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="czs-"], [class*=" czs-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'strawberryicon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.czs-d-glasses:before {
  content: "\e900";
}
.czs-d-space:before {
  content: "\e901";
}
.czs-airplane:before {
  content: "\e902";
}
.czs-airplane-l:before {
  content: "\e903";
}
.czs-analysis:before {
  content: "\e904";
}
.czs-android:before {
  content: "\e905";
}
.czs-angle-down-l:before {
  content: "\e917";
}
.czs-angle-left-l:before {
  content: "\e907";
}
.czs-angle-right-l:before {
  content: "\e908";
}
.czs-angle-up-l:before {
  content: "\e909";
}
.czs-apple:before {
  content: "\e90a";
}
.czs-arrow-down-l:before {
  content: "\e90b";
}
.czs-arrow-up-l:before {
  content: "\e90c";
}
.czs-aso-l:before {
  content: "\e90d";
}
.czs-association-l:before {
  content: "\e90e";
}
.czs-baiduwangpan:before {
  content: "\e90f";
}
.czs-bar-chart:before {
  content: "\e910";
}
.czs-bar-chart-l:before {
  content: "\e911";
}
.czs-battery:before {
  content: "\e912";
}
.czs-battery-l:before {
  content: "\e913";
}
.czs-beepress:before {
  content: "\e914";
}
.czs-bell:before {
  content: "\e915";
}
.czs-bell-l:before {
  content: "\e916";
}
.czs-bilibili:before {
  content: "\e906";
}
.czs-blackboard-l:before {
  content: "\e918";
}
.czs-book:before {
  content: "\e919";
}
.czs-book-l:before {
  content: "\e91a";
}
.czs-bookmark:before {
  content: "\e91b";
}
.czs-bookmark-l:before {
  content: "\e91c";
}
.czs-bug:before {
  content: "\e91d";
}
.czs-building:before {
  content: "\e91e";
}
.czs-building-l:before {
  content: "\e91f";
}
.czs-buy:before {
  content: "\e920";
}
.czs-buy-l:before {
  content: "\e921";
}
.czs-calendar:before {
  content: "\e922";
}
.czs-calendar-l:before {
  content: "\e923";
}
.czs-camber:before {
  content: "\e924";
}
.czs-camber-1:before {
  content: "\e925";
}
.czs-camber-o:before {
  content: "\e926";
}
.czs-camera:before {
  content: "\e927";
}
.czs-caomei:before {
  content: "\e928";
}
.czs-certificate:before {
  content: "\e929";
}
.czs-chemistry:before {
  content: "\e92a";
}
.czs-chemistry-l:before {
  content: "\e92b";
}
.czs-choose-list-l:before {
  content: "\e92c";
}
.czs-chorme:before {
  content: "\e92d";
}
.czs-chuangzaoshi:before {
  content: "\e92e";
}
.czs-circle:before {
  content: "\e92f";
}
.czs-circle-l:before {
  content: "\e930";
}
.czs-circle-o:before {
  content: "\e931";
}
.czs-clip-l:before {
  content: "\e932";
}
.czs-close-l:before {
  content: "\e933";
}
.czs-cloud:before {
  content: "\e934";
}
.czs-cloud-l:before {
  content: "\e935";
}
.czs-code-edit-l:before {
  content: "\e936";
}
.czs-code-file:before {
  content: "\e937";
}
.czs-code-file-l:before {
  content: "\e938";
}
.czs-code-l:before {
  content: "\e939";
}
.czs-code-plugin-l:before {
  content: "\e93a";
}
.czs-collection:before {
  content: "\e93b";
}
.czs-come-l:before {
  content: "\e93c";
}
.czs-command:before {
  content: "\e93d";
}
.czs-comment:before {
  content: "\e93e";
}
.czs-comment-l:before {
  content: "\e93f";
}
.czs-computer:before {
  content: "\e940";
}
.czs-computer-l:before {
  content: "\e941";
}
.czs-configuration:before {
  content: "\e942";
}
.czs-connection:before {
  content: "\e943";
}
.czs-construct-l:before {
  content: "\e944";
}
.czs-container-l:before {
  content: "\e945";
}
.czs-control:before {
  content: "\e946";
}
.czs-css3:before {
  content: "\e947";
}
.czs-cup:before {
  content: "\e948";
}
.czs-cup-l:before {
  content: "\e949";
}
.czs-data-test:before {
  content: "\e94a";
}
.czs-design-edit-l:before {
  content: "\e94b";
}
.czs-design-shape-l:before {
  content: "\e94c";
}
.czs-detect-l:before {
  content: "\e94d";
}
.czs-diamond-l:before {
  content: "\e94e";
}
.czs-doc-edit:before {
  content: "\e94f";
}
.czs-doc-file:before {
  content: "\e950";
}
.czs-doc-file-l:before {
  content: "\e951";
}
.czs-download-l:before {
  content: "\e952";
}
.czs-dribbble:before {
  content: "\e953";
}
.czs-dropbox:before {
  content: "\e954";
}
.czs-eye-l:before {
  content: "\e955";
}
.czs-facebook:before {
  content: "\e956";
}
.czs-file:before {
  content: "\e957";
}
.czs-file-l:before {
  content: "\e958";
}
.czs-film:before {
  content: "\e959";
}
.czs-film-l:before {
  content: "\e95a";
}
.czs-fire-l:before {
  content: "\e95b";
}
.czs-folder-l:before {
  content: "\e95c";
}
.czs-font:before {
  content: "\e95d";
}
.czs-forum:before {
  content: "\e95e";
}
.czs-game:before {
  content: "\e95f";
}
.czs-game-l:before {
  content: "\e960";
}
.czs-geometry-shape-l:before {
  content: "\e961";
}
.czs-gift:before {
  content: "\e962";
}
.czs-gift-l:before {
  content: "\e963";
}
.czs-github:before {
  content: "\e964";
}
.czs-git-l:before {
  content: "\e965";
}
.czs-hacker:before {
  content: "\e966";
}
.czs-headset:before {
  content: "\e967";
}
.czs-headset-l:before {
  content: "\e968";
}
.czs-heart:before {
  content: "\e969";
}
.czs-heart-l:before {
  content: "\e96a";
}
.czs-home:before {
  content: "\e96b";
}
.czs-home-l:before {
  content: "\e96c";
}
.czs-html5:before {
  content: "\e96d";
}
.czs-image:before {
  content: "\e96e";
}
.czs-image-l:before {
  content: "\e96f";
}
.czs-inbox:before {
  content: "\e970";
}
.czs-inbox-l:before {
  content: "\e971";
}
.czs-info-l:before {
  content: "\e972";
}
.czs-keyboard:before {
  content: "\e973";
}
.czs-keyboard-l:before {
  content: "\e974";
}
.czs-label-info-l:before {
  content: "\e975";
}
.czs-laptop:before {
  content: "\e976";
}
.czs-laptop-l:before {
  content: "\e977";
}
.czs-layers:before {
  content: "\e978";
}
.czs-layout-grid:before {
  content: "\e979";
}
.czs-layout-list:before {
  content: "\e97a";
}
.czs-light:before {
  content: "\e97b";
}
.czs-light-flash-l:before {
  content: "\e97c";
}
.czs-light-l:before {
  content: "\e97d";
}
.czs-link-l:before {
  content: "\e97e";
}
.czs-linux:before {
  content: "\e97f";
}
.czs-list-clipboard:before {
  content: "\e980";
}
.czs-list-clipboard-l:before {
  content: "\e981";
}
.czs-location-l:before {
  content: "\e982";
}
.czs-lock:before {
  content: "\e983";
}
.czs-lock-l:before {
  content: "\e984";
}
.czs-medal:before {
  content: "\e985";
}
.czs-medal-l:before {
  content: "\e986";
}
.czs-menu-l:before {
  content: "\e987";
}
.czs-message-l:before {
  content: "\e988";
}
.czs-microchip:before {
  content: "\e989";
}
.czs-microphone:before {
  content: "\e98a";
}
.czs-microphone-l:before {
  content: "\e98b";
}
.czs-microsoft:before {
  content: "\e98c";
}
.czs-mobile:before {
  content: "\e98d";
}
.czs-mobile-l:before {
  content: "\e98e";
}
.czs-mouse:before {
  content: "\e98f";
}
.czs-mouse-l:before {
  content: "\e990";
}
.czs-music:before {
  content: "\e991";
}
.czs-music-file:before {
  content: "\e992";
}
.czs-music-file-l:before {
  content: "\e993";
}
.czs-music-l:before {
  content: "\e994";
}
.czs-music-note:before {
  content: "\e995";
}
.czs-music-note-l:before {
  content: "\e996";
}
.czs-network-l:before {
  content: "\e997";
}
.czs-new-l:before {
  content: "\e998";
}
.czs-newspaper-l:before {
  content: "\e999";
}
.czs-operation:before {
  content: "\e99a";
}
.czs-out-l:before {
  content: "\e99b";
}
.czs-overlapping:before {
  content: "\e99c";
}
.czs-pad:before {
  content: "\e99d";
}
.czs-paper:before {
  content: "\e99e";
}
.czs-paper-plane:before {
  content: "\e99f";
}
.czs-pause-l:before {
  content: "\e9a0";
}
.czs-pen:before {
  content: "\e9a1";
}
.czs-pengyouquan:before {
  content: "\e9a2";
}
.czs-pen-write:before {
  content: "\e9a3";
}
.czs-people:before {
  content: "\e9a4";
}
.czs-pixels:before {
  content: "\e9a5";
}
.czs-platform:before {
  content: "\e9a6";
}
.czs-play-l:before {
  content: "\e9a7";
}
.czs-pokemon-ball:before {
  content: "\e9a8";
}
.czs-printer:before {
  content: "\e9a9";
}
.czs-printer-l:before {
  content: "\e9aa";
}
.czs-product-l:before {
  content: "\e9ab";
}
.czs-program:before {
  content: "\e9ac";
}
.czs-program-framework-l:before {
  content: "\e9ad";
}
.czs-prototype:before {
  content: "\e9ae";
}
.czs-prototype-select-l:before {
  content: "\e9af";
}
.czs-QQ:before {
  content: "\e9b0";
}
.czs-qrcode-l:before {
  content: "\e9b1";
}
.czs-quote-right:before {
  content: "\e9b2";
}
.czs-red-envelope:before {
  content: "\e9b3";
}
.czs-right-clipboard:before {
  content: "\e9b4";
}
.czs-right-clipboard-l:before {
  content: "\e9b5";
}
.czs-rss:before {
  content: "\e9b6";
}
.czs-save:before {
  content: "\e9b7";
}
.czs-scan-l:before {
  content: "\e9b8";
}
.czs-scissors:before {
  content: "\e9b9";
}
.czs-search-l:before {
  content: "\e9ba";
}
.czs-server:before {
  content: "\e9bb";
}
.czs-server-l:before {
  content: "\e9bc";
}
.czs-servers:before {
  content: "\e9bd";
}
.czs-setting:before {
  content: "\e9be";
}
.czs-setting-l:before {
  content: "\e9bf";
}
.czs-shield-l:before {
  content: "\e9c0";
}
.czs-site-folder-l:before {
  content: "\e9c1";
}
.czs-slider-l:before {
  content: "\e9c2";
}
.czs-square:before {
  content: "\e9c3";
}
.czs-square-l:before {
  content: "\e9c4";
}
.czs-square-o:before {
  content: "\e9c5";
}
.czs-star:before {
  content: "\e9c6";
}
.czs-star-l:before {
  content: "\e9c7";
}
.czs-steam:before {
  content: "\e9c8";
}
.czs-storage-l:before {
  content: "\e9c9";
}
.czs-sword-l:before {
  content: "\e9ca";
}
.czs-tab:before {
  content: "\e9cb";
}
.czs-tab-select:before {
  content: "\e9cc";
}
.czs-tag:before {
  content: "\e9cd";
}
.czs-tag-l:before {
  content: "\e9ce";
}
.czs-talk:before {
  content: "\e9cf";
}
.czs-talk-l:before {
  content: "\e9d0";
}
.czs-taobao:before {
  content: "\e9d1";
}
.czs-thumbs-up:before {
  content: "\e9d2";
}
.czs-thumbs-up-l:before {
  content: "\e9d3";
}
.czs-time:before {
  content: "\e9d4";
}
.czs-time-l:before {
  content: "\e9d5";
}
.czs-time-plugin-l:before {
  content: "\e9d6";
}
.czs-tmall:before {
  content: "\e9d7";
}
.czs-transmission-l:before {
  content: "\e9d8";
}
.czs-trash:before {
  content: "\e9d9";
}
.czs-trash-l:before {
  content: "\e9da";
}
.czs-triangle:before {
  content: "\e9db";
}
.czs-triangle-l:before {
  content: "\e9dc";
}
.czs-triangle-o:before {
  content: "\e9dd";
}
.czs-twitter:before {
  content: "\e9de";
}
.czs-upload-l:before {
  content: "\e9df";
}
.czs-usb:before {
  content: "\e9e0";
}
.czs-usb-l:before {
  content: "\e9e1";
}
.czs-user:before {
  content: "\e9e2";
}
.czs-user-framework:before {
  content: "\e9e3";
}
.czs-user-l:before {
  content: "\e9e4";
}
.czs-v2ex:before {
  content: "\e9e5";
}
.czs-vector-design:before {
  content: "\e9e6";
}
.czs-video-camera-l:before {
  content: "\e9e7";
}
.czs-video-file:before {
  content: "\e9e8";
}
.czs-video-file-l:before {
  content: "\e9e9";
}
.czs-vimeo:before {
  content: "\e9ea";
}
.czs-volume:before {
  content: "\e9eb";
}
.czs-volume-l:before {
  content: "\e9ec";
}
.czs-volume-x-l:before {
  content: "\e9ed";
}
.czs-watch:before {
  content: "\e9ee";
}
.czs-watch-l:before {
  content: "\e9ef";
}
.czs-webcam:before {
  content: "\e9f0";
}
.czs-webcam-l:before {
  content: "\e9f1";
}
.czs-web-edit:before {
  content: "\e9f2";
}
.czs-weibo:before {
  content: "\e9f3";
}
.czs-weixin:before {
  content: "\e9f4";
}
.czs-weixinzhifu:before {
  content: "\e9f5";
}
.czs-wifi:before {
  content: "\e9f6";
}
.czs-wordpress:before {
  content: "\e9f7";
}
.czs-world-l:before {
  content: "\e9f8";
}
.czs-wrench-l:before {
  content: "\e9f9";
}
.czs-write-l:before {
  content: "\e9fa";
}
.czs-x-buy-l:before {
  content: "\e9fb";
}
.czs-youtube:before {
  content: "\e9fc";
}
.czs-zhifubao:before {
  content: "\e9fd";
}
